__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
.env
.venv
env/
venv/
.coverage
htmlcov/
.pytest_cache/
.ipynb_checkpoints
.vscode/
.idea/
.DS_Store
*.log
*ll_out*
examples/catsunami
examples/nebopt_executorlib_ls6_ilgar
examples/nebopt_intcases_impr_tang_aselinear_20images
examples/nebopt_interesting_cases_aseneb_aselinear
examples/nebopt_interesting_cases_impr_tang_aselinear
examples/dimeropt_executorlib/